.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightcyan;
}

.navigation li {
    float: left;
}

.login-register-nav {
    float: right !important;
}

.navigation a {
    color: black;
    text-decoration: none;
}

.navigation a {
    color: inherit;
}

.navigation li button {
    display: block;
    color: black;
    background-color: transparent;
    border: none;
    text-align: center;
    padding: 14px 16px;
    font-size: 15px;
}

.navigation li button:hover {
    background-color: darkblue;
    color: whitesmoke;
}

.loading {
    text-align: center;
    font-size: 100px;
    letter-spacing: 10px;
    color: midnightblue;
}
